---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Shop from '../components/Shop.astro';
import Philosophy from '../components/Philosophy.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen bg-white text-stone-900">
		<Header />
		   <main class="flex-1" transition:persist="main-content">
			<Hero />
			<Shop />
			<Philosophy />
		</main>
		<Footer />
	</body>
</html>
