---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Shop from '../components/Shop.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import alfabotanicaImage from '../assets/img/alfabotanica.png';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={alfabotanicaImage} />
	</head>
	<body class="min-h-screen bg-white text-stone-900">
		<Header />
		   <main class="flex-1" transition:persist="main-content">
			<Hero />
			<Shop />
			<CallToAction />
		</main>
		<Footer />
	</body>
</html>
