---

---

<button  onclick="history.back()" class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
	<span class="icon-[icon-park-solid--back] mr-4"></span>
	<span class=" flex items-start flex-row md:flex-col leading-none">
		<span class="title-font font-medium md:text-xs md:mb-1 text-[#4B5E45]">Volver a la</span>
		<span class="title-font font-medium ml-1 md:ml-0">Tienda</span>
		
	</span>
</button>