---
import { translations } from '../translations';
---

<footer id="contact" class="bg-med-cream border-t border-med-clay py-4 sm:py-6 lg:py-8">
    <div class="container mx-auto px-4 sm:px-6">
        
        <div class="flex flex-col mx-8 sm:flex-row justify-between items-center text-[10px] uppercase tracking-widest text-stone-400 border-med-clay">
            <p class="mb-4 sm:mb-0" data-lang-target="copyright">{translations.es.copyright}</p>
            <div class="flex space-x-4 sm:space-x-6">
                <a href="#" class="text-green-700 hover:text-med-terracotta transition-colors" data-lang-target="instagram">{translations.es.whatsapp}</a>
            </div>
        </div>
    </div>
</footer>