---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import type { ImageMetadata } from 'astro';

const { product, image } = Astro.props as {
  product: CollectionEntry<'products'>;
  image: ImageMetadata;
};

const slug = product.filePath?.substring(product.filePath.lastIndexOf('/') + 1, product.filePath.lastIndexOf('.md'));
---

<article class="group cursor-pointer">

    <div class="max-w-md w-full flex flex-col items-center">
		<a href={`/products/${slug}`}
            class=" bg-white/90 py-2 sm:py-3 text-xs uppercase tracking-widest opacity-0 group-hover:opacity-100 transition-opacity rounded">
            Ver Producto
        </a>

        <div class="w-full bg-[#F7F6E4] rounded-[2.5rem] pt-12 pb-10 flex flex-col items-center mb-10">
            <h1 class="font-playfair text-[#4B5E45] text-6xl tracking-[0.3em] uppercase ml-3">
                {product.data.name.split(' ')[0]}
            </h1>
            <span class="font-playfair text-[#4B5E45] text-xs tracking-[0.4em] uppercase mt-4 ml-1">
                Herbal
            </span>
			 
        </div>

        <div class="flex flex-col items-center space-y-1.5 mb-14 text-center">
            {product.data.benefits.map((benefit) => (
                <p class="font-playfair text-[#2A2A2A] text-xl tracking-wide">
                    {benefit}
                </p>
            ))}
        </div>

        <div class="flex flex-col items-center text-center">
            <p class="font-playfair font-bold text-[#576B51] text-lg mb-2">
                Extracto de
            </p>

            {product.data.extracts.map((extract, index) => (
                <h2 class={`font-playfair text-[#4B5E45] text-5xl uppercase tracking-widest leading-none ${index < product.data.extracts.length - 1 ? 'mb-2' : ''}`}>
                    {extract}
                </h2>
            ))}
        </div>

        <div class="mt-4 text-center">
            <p class="font-playfair text-[#4B5E45] text-2xl">
                ${product.data.price}
            </p>
        </div>

    </div>
</article>