---
// ShareButton component to copy the current page URL
import SoonerNotification from './SoonerNotification.astro';
---

<SoonerNotification />

<button onclick="copyToClipboard()" class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-200 focus:outline-none">
	<span class="icon-[ci--share] mr-4"></span>
	<span class=" flex items-start flex-col leading-none">
		<span class="text-xs text-[#4B5E45] mb-1">Compartir</span>
		<span class="title-font font-medium">Enlace</span>
	</span>
</button>

<script is:inline>
  const copyToClipboard = function () {
    navigator.clipboard.writeText(window.location.href).then(() => {
      // Show the sooner notification
      window.showSoonerNotification('Enlace copiado listo para Compartirlo!');
    }).catch(err => {
      console.error('Error al copiar: ', err);
    });
}
</script>