---
import { WHATSAPP_NUMBER } from '../consts';

type Props = {
  productName: string;
  sku: string;
};

const { productName, sku }: Props = Astro.props;
const message = encodeURIComponent(`Hola, estoy interesado en ${productName}. Me gustaría recibir más información al respecto.`);
const whatsappUrl = `https://wa.me/${WHATSAPP_NUMBER}?text=${message}`;
---

<a
  href={whatsappUrl}
  target="_blank"
  rel="noopener noreferrer"
  class="flex bg-gray-100 py-3 px-5 rounded-md items-center hover:bg-gray-200 hover:text-[#4B5E45] focus:outline-none text-[#4B5E45]">
	<span class="icon-[garden--whatsapp-fill-12] mr-4"></span>
	<span class=" flex items-start flex-row md:flex-col leading-none">
		<span class="title-font font-medium md:text-xs md:mb-1 text-[#4B5E45]">Consultar Por</span>
		<span class="title-font font-medium ml-1 md:ml-0">Whatsapp</span>
	</span>
</a>